{% extends 'base.html.twig' %}

{% block title %}Une erreur s'est produite{% endblock %}

{% block body %}

    <h1>Une erreur s'est produite</h1>

    <p>
        Désolé, une erreur est survenue lors du traitement de votre demande.
    </p>

{% endblock %}